.catalogMenu
  h2.catalogMenu__title Откатные ворота
  .catalogMenu__slider
    .catalogMenu__items
      .catalogMenu__item
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-1.jpg)")
          .catalogMenu__popup
            .btn.btn--sm.btn--round.catalogMenu__help ?
            .catalogMenu__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis convallis. Integer id dui ornare nunc molestie rhoncus et id nibh. Donec porttitor orci metus, scelerisque bibendum augue cursus vel. Vestibulum a tellus at ante consectetur auctor. Phasellus eu arcu porta justo blandit fermentum. Vivamus nec neque velit. Praesent a leo ullamcorper, lacinia quam eget, accumsan odio. Fusce eget nisi bibendum, imperdiet augue vel, dapibus est. Praesent convallis arcu nec est rhoncus ornare. Phasellus blandit turpis ac velit aliquam efficitur. Nunc sed sollicitudin velit. Donec ultrices feugiat ante, a facilisis nisi ornare vitae. Sed sed risus purus.
          .catalogMenu__content
            .catalogMenu__head Ламели для забора-жалюзи
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

      .catalogMenu__item
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-2.jpg)")
          .btn.btn--sm.btn--round.catalogMenu__help ?
          .catalogMenu__info
          .catalogMenu__content
            .catalogMenu__head Ворота "Эконом"
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

      .catalogMenu__item.catalogMenu__item--x2
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-3.jpg)")
          .btn.btn--sm.btn--round.catalogMenu__help ?
          .catalogMenu__content
            .catalogMenu__head Ворота "Эконом"
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

    .catalogMenu__navigation
      .catalogMenu__button.catalogMenu__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
      .catalogMenu__button.catalogMenu__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")


    //.catalogMenu__item.catalogMenu__item--x2
    //  .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-3.jpg)")
    //    a.btn.btn--sm.btn--round.catalogMenu__help(href='#') ?
    //    .catalogMenu__content
    //      .catalogMenu__head Ворота "Эконом"
    //      .catalogMenu__body
    //        .rub
    //        .catalogMenu__price от 10 000 руб
    //        a.btn.btn--sm(href='#') Подробнее
